* {
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body {
    background-image: url(../image/4.jpg);
}
.js-clock {
    margin-top: 150px;
    text-align: center;
}
.js-clock h1 {
    font-size: 150px;
    font-weight: lighter;
    color: #A3F056;
    text-shadow: 0 0 1px #AAEB32, 
        0 0 5px #AAEB32, 
        0 0 10px #AAEB32, 
        0 0 20px #AAEB32, 
        0 0 40px #AAEB32;
}
.js-form, .js-toDoForm {
    text-align: center;
}
.js-form {
    margin-top: 30px;
}
.btn {
    cursor: pointer;
}
.clicked {
    color: #7f8c8d;
}
.form,
.greetings {
    display: none;
}
.not-showing {
    display: none;
}
.showing {
    display: block;
}
input {
    background-color: transparent;
    border: none;
    font-size: 30px;
    text-align: center;
}
input:focus {
    outline: none;
}
.line {
    width: 300px;
    height: 5px;
    background-color: #FFE633;
    border-radius: 15px;
    box-shadow: 
        0 0 5px #FFE633, 
        0 0 10px #FFE633, 
        0 0 20px #FFE633;
}
.greetings {
    font-size: 70px;
    color: #CE64F0;
    text-align: center;
    border-top: 50px;
    text-shadow: 0 0 1px #D058F0, 
        0 0 5px #D058F0, 
        0 0 10px #D058F0,
        0 0 20px #D058F0,
        0 0 30px #D058F0;
}
.js-toDoForm {
    margin-top: 30px;
}
